.nav {
  padding: 20px 0 0 20px;
  grid-area: n;
  background: rgba(255, 255, 255, 0.10);
  border-radius: 5px;
  height: 400px;
}

.item {
  margin-bottom: 20px;
  font-size: 18px;
  transition: 0.2s;
}

.item:hover {
  color: rgb(204, 204, 204)
}

.active {
  color: rgb(255, 255, 255);
  transition: 0.2s;
}